# IDE & System Files
.idea/
.DS_Store

# Python Cache & Build Artifacts
__pycache__/
*.egg-info/

# Model Files
models/
base_model.gguf
lora_sensitive.gguf
lora_exclude.gguf

# Test Project Directories
project/

# Test & Output Directories
project_output/

output_exclude/
output_sensitive/
output_header/
